<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>com.merg.livecode.externals.android</string>
	<key>Ancestors</key>
	<array>
		<string>com.merg.livecode.externals.base</string>
	</array>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>___PACKAGENAMEASIDENTIFIER___.java</key>
		<dict>
			<key>Path</key>
			<string>___PACKAGENAMEASIDENTIFIER___.java</string>
			<key>TargetIndices</key>
			<array>
				<string>0</string>
			</array>
		</dict>
		<dict>
			<key>___PACKAGENAMEASIDENTIFIER___.lcidl:java</key>
			<string>
use java on android
use nothing on ios, mac, windows, linux
			</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>___PACKAGENAMEASIDENTIFIER___.java</string>
		<string>___PACKAGENAMEASIDENTIFIER___.lcidl:java</string>
	</array>
	<key>Project</key>
	<dict>
		<key>SharedSettings</key>
		<dict>
			<key>ANDROID_TOOLCHAIN</key>
			<string>$(HOME)/android/toolchain</string>
			<key>ANDROID_SDK_ROOT</key>
			<string>$(ANDROID_TOOLCHAIN)/android-sdk</string>
			<key>ANDROID_NDK_ROOT</key>
			<string>$(ANDROID_TOOLCHAIN)/android-ndk</string>
			<key>ANDROID_EXTERNAL_BUILD_SCRIPT</key>
			<string>$(LIVECODE_EXTERNAL_TEMPLATES_DIR)/build-android-external.sh</string>
			<key>NDK_APPLICATION_MK</key>
			<string>$(LIVECODE_EXTERNAL_TEMPLATES_DIR)/Application.mk</string>
			<key>APP_BUILD_SCRIPT</key>
			<string>$(LIVECODE_EXTERNAL_TEMPLATES_DIR)/Android.mk</string>
		</dict>
		<key>Configurations</key>
		<dict>
			<key>Debug</key>
			<dict>
				<key>GCC_PREPROCESSOR_DEFINITIONS</key>
				<string>DEBUG</string>
				<key>GCC_OPTIMIZATION_LEVEL</key>
				<string>0</string>
			</dict>
			<key>Release</key>
			<dict/>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>TargetType</key>
			<string>Aggregate</string>
			<key>TargetIdentifier</key>
			<string>com.merg.livecode.externals.android</string>
		  <key>Name</key>
			<string>___PACKAGENAMEASIDENTIFIER___</string>
			<key>SharedSettings</key>
			<dict>
				<key>PRODUCT_NAME</key>
				<string>$(TARGET_NAME)</string>
				<key>ALWAYS_SEARCH_USER_PATHS</key>
				<string>NO</string>
		</dict>
			<key>Configurations</key>
			<dict>
				<key>Debug</key>
				<dict/>
				<key>Release</key>
				<dict/>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>ShellPath</key>
					<string>/bin/bash</string>
					<key>ShellScript</key>
					<string>sh &quot;$ANDROID_EXTERNAL_BUILD_SCRIPT&quot;</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
