<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>com.merg.livecode.externals.ios</string>
	<key>Ancestors</key>
	<array>
		<string>com.merg.livecode.externals.objectivec</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>Info.plist</key>
		<dict>
			<key>Beginning</key>
			<string>&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
	&lt;!DOCTYPE plist PUBLIC &quot;-//Apple//DTD PLIST 1.0//EN&quot; &quot;http://www.apple.com/DTDs/PropertyList-1.0.dtd&quot;&gt;
	&lt;plist version=&quot;1.0&quot;&gt;
	&lt;dict&gt;</string>
			<key>End</key>
			<string>&lt;/dict&gt;
	&lt;/plist&gt;</string>
			<key>Indent</key>
			<integer>1</integer>
			<key>SubstituteMacros</key>
			<true/>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Info.plist:Basics</key>
		<string>&lt;key&gt;CFBundleIdentifier&lt;/key&gt;
	  &lt;string&gt;${BUNDLE_IDENTIFIER}&lt;/string&gt;
	  &lt;key&gt;CFBundleInfoDictionaryVersion&lt;/key&gt;
		&lt;string&gt;6.0&lt;/string&gt;
		&lt;key&gt;CFBundlePackageType&lt;/key&gt;
		&lt;string&gt;APPL&lt;/string&gt;
		&lt;key&gt;CFBundleDevelopmentRegion&lt;/key&gt;
		&lt;string&gt;en&lt;/string&gt;
		&lt;key&gt;CFBundleExecutable&lt;/key&gt;
		&lt;string&gt;${EXECUTABLE_NAME}&lt;/string&gt;
		&lt;key&gt;CFBundleName&lt;/key&gt;
		&lt;string&gt;${PRODUCT_NAME}&lt;/string&gt;
		&lt;key&gt;CFBundleVersion&lt;/key&gt;
		&lt;string&gt;0&lt;/string&gt;
		&lt;key&gt;CFBundleShortVersionString&lt;/key&gt;
		&lt;string&gt;1.0.0&lt;/string&gt;
		&lt;key&gt;CFBundleDisplayName&lt;/key&gt;
	&lt;string&gt;${PRODUCT_NAME}&lt;/string&gt;
	&lt;key&gt;LSRequiresIPhoneOS&lt;/key&gt;
	&lt;true/&gt;</string>
		<key>___PACKAGENAMEASIDENTIFIER___.ios</key>
		<dict>
			<key>Path</key>
			<string>___PACKAGENAMEASIDENTIFIER___.ios</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
	</dict>
	<key>Description</key>
	<string>This template is the starting point for a LiveCode external for iOS.</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>Info.plist:Basics</string>
		<string>___PACKAGENAMEASIDENTIFIER___.ios</string>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Project</key>
	<dict>
		<key>SDK</key>
		<string>iphoneos</string>
		<key>SharedSettings</key>
		<dict>
			<key>IPHONEOS_DEPLOYMENT_TARGET</key>
			<string>latest_iphoneos</string>
			<key>TARGETED_DEVICE_FAMILY</key>
			<string>1,2</string>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>TargetIdentifier</key>
			<string>com.merg.livecode.externals.external</string>
			<key>Name</key>
			<string>___PACKAGENAMEASIDENTIFIER___-iOS</string>
			<key>ProductType</key>
			<string>com.apple.product-type.library.static</string>
			<key>SharedSettings</key>
			<dict>
				<key>LIVECODE_DEP_FILE</key>
				<string>$(SRCROOT)/___PACKAGENAME___/___PACKAGENAMEASIDENTIFIER___.ios</string>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>ShellPath</key>
					<string>/bin/bash</string>
					<key>ShellScript</key>
					<string>sh &quot;$LIVECODE_REPO_ROOT/lcidlc/lclink.sh&quot;</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>TargetIdentifier</key>
			<string>com.merg.livecode.externals.ios.testapp</string>
		  <key>Name</key>
			<string>test</string>
		  <key>ProductType</key>
		  <string>com.apple.product-type.application</string>
		  <key>SharedSettings</key>
		  <dict>
		    <key>INFOPLIST_FILE</key>
				<string>___PACKAGENAME___/Info.plist</string>
			</dict>
		  <key>Configurations</key>
		  <dict>
		    <key>Debug</key>
		    <dict/>
		    <key>Release</key>
		    <dict/>
		  </dict>
		  <key>BuildPhases</key>
		  <array>
		    <dict>
		      <key>Class</key>
		      <string>ShellScript</string>
		      <key>ShellPath</key>
		      <string>/bin/bash</string>
		      <key>ShellScript</key>
		      <string>sh &quot;$LIVECODE_REPO_ROOT/lcidlc/lclinktest.sh&quot;</string>
		    </dict>
		  </array>
			<key>Dependencies</key>
			<array>
				<string>0</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
