<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Identifier</key>
		<string>com.merg.livecode.externals.chooselanguage</string>
		<key>Ancestors</key>
		<array>
			<string>com.merg.livecode.externals.base</string>
		</array>
		<key>Kind</key>
		<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
		<key>Definitions</key>
		<dict>
			<key>___PACKAGENAMEASIDENTIFIER___.lcidl:ObjectiveC</key>
			<string>use objc-objects</string>
			<key>___PACKAGENAMEASIDENTIFIER___.lcidl:CPP</key>
			<string>use c++-naming</string>
			<key>*:stdbool</key>
			<string>
#include &lt;stdbool.h&gt;
			</string>
			<key>*:hooks</key>
			<string>
bool ___PACKAGENAMEASIDENTIFIER___Startup(void)
{
	return true;
}

void ___PACKAGENAMEASIDENTIFIER___Shutdown(void)
{

}
			</string>
			<key>*:livecodeapi</key>
			<string>
#include "LiveCode.h"
			</string>
			<key>*:externalv0</key>
			<string>
#include "external.h"

EXTERNAL_BEGIN_DECLARATIONS("___PACKAGENAMEASIDENTIFIER___")
	/* Declare Handlers Here */
EXTERNAL_END_DECLARATIONS

#if __IPHONE_OS_VERSION_MIN_REQUIRED
   EXTERNAL_LIBINFO(___PACKAGENAMEASIDENTIFIER___)
#endif
			</string>
		</dict>
		<key>Options</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>languageChoice</string>
				<key>Required</key>
				<true/>
				<key>Name</key>
				<string>Language:</string>
				<key>Description</key>
				<string>Your primary implementation language.</string>
				<key>Type</key>
				<string>popup</string>
				<key>NotPersisted</key>
				<true/>
				<key>Units</key>
				<dict>
					<key>Java</key>
					<array>
						<dict>
							<key>RequiredOptions</key>
							<dict>
									<key>isLCIDL</key>
									<string>true</string>
							</dict>
							<key>Nodes</key>
							<array>
								<string>___PACKAGENAMEASIDENTIFIER___.lcidl:java</string>
								<string>___PACKAGENAMEASIDENTIFIER___.java:package</string>
								<string>___PACKAGENAMEASIDENTIFIER___.java:comments</string>
								<string>___PACKAGENAMEASIDENTIFIER___.java:class</string>
							</array>
							<key>Project</key>
							<dict>
								<key>SharedSettings</key>
								<dict>
									<key>ANDROID_SOURCES</key>
									<string></string>
								</dict>
							</dict>
						</dict>
					</array>
					<key>Objective-C</key>
					<array>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>___PACKAGENAMEASIDENTIFIER___.m</key>
							<dict>
								<key>Beginning</key>
				        <string></string>
				        <key>End</key>
				        <string></string>
								<key>SubstituteMacros</key>
								<true/>
								<key>TargetIndices</key>
								<array>
									<string>0</string>
								</array>
							</dict>
						</dict>
						<key>Nodes</key>
						<array>
							<string>___PACKAGENAMEASIDENTIFIER___.m:comments</string>
						</array>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
								<key>isLCIDL</key>
								<string>true</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>___PACKAGENAMEASIDENTIFIER___.lcidl:ObjectiveC</string>
							<string>___PACKAGENAMEASIDENTIFIER___.m:foundation</string>
							<string>___PACKAGENAMEASIDENTIFIER___.m:livecodeapi</string>
							<string>___PACKAGENAMEASIDENTIFIER___.m:hooks</string>
						</array>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
								<key>isLCIDL</key>
								<string>false</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>___PACKAGENAMEASIDENTIFIER___.m:externalv0</string>
						</array>
					</dict>
				</array>
				<key>Objective-C++</key>
					<array>
						<dict>
							<key>Definitions</key>
							<dict>
								<key>___PACKAGENAMEASIDENTIFIER___.mm</key>
								<dict>
									<key>Beginning</key>
					        <string></string>
					        <key>End</key>
					        <string></string>
									<key>SubstituteMacros</key>
									<true/>
									<key>TargetIndices</key>
									<array>
										<string>0</string>
									</array>
								</dict>
							</dict>
							<key>Nodes</key>
							<array>
								<string>___PACKAGENAMEASIDENTIFIER___.mm:comments</string>
							</array>
						</dict>
						<dict>
							<key>RequiredOptions</key>
							<dict>
									<key>isLCIDL</key>
									<string>true</string>
							</dict>
							<key>Nodes</key>
							<array>
								<string>___PACKAGENAMEASIDENTIFIER___.lcidl:ObjectiveC</string>
								<string>___PACKAGENAMEASIDENTIFIER___.lcidl:CPP</string>
								<string>___PACKAGENAMEASIDENTIFIER___.mm:foundation</string>
								<string>___PACKAGENAMEASIDENTIFIER___.mm:livecodeapi</string>
								<string>___PACKAGENAMEASIDENTIFIER___.mm:hooks</string>
							</array>
						</dict>
						<dict>
							<key>RequiredOptions</key>
							<dict>
									<key>isLCIDL</key>
									<string>false</string>
							</dict>
							<key>Nodes</key>
							<array>
								<string>___PACKAGENAMEASIDENTIFIER___.mm:externalv0</string>
							</array>
						</dict>
					</array>
					<key>C</key>
					<array>
						<dict>
							<key>Definitions</key>
							<dict>
								<key>___PACKAGENAMEASIDENTIFIER___.c</key>
								<dict>
									<key>Beginning</key>
					        <string></string>
					        <key>End</key>
					        <string></string>
									<key>SubstituteMacros</key>
									<true/>
									<key>TargetIndices</key>
									<array>
										<string>0</string>
									</array>
								</dict>
							</dict>
							<key>Nodes</key>
							<array>
								<string>___PACKAGENAMEASIDENTIFIER___.c:comments</string>
							</array>
						</dict>
						<dict>
							<key>RequiredOptions</key>
              <dict>
                  <key>isLCIDL</key>
                  <string>true</string>
              </dict>
							<key>Nodes</key>
							<array>
								<string>___PACKAGENAMEASIDENTIFIER___.c:stdbool</string>
								<string>___PACKAGENAMEASIDENTIFIER___.c:livecodeapi</string>
								<string>___PACKAGENAMEASIDENTIFIER___.c:hooks</string>
							</array>
						</dict>
						<dict>
							<key>RequiredOptions</key>
              <dict>
                  <key>isLCIDL</key>
                  <string>false</string>
              </dict>
							<key>Nodes</key>
							<array>
								<string>___PACKAGENAMEASIDENTIFIER___.c:externalv0</string>
							</array>
						</dict>
					</array>
					<key>C++</key>
					<array>
						<dict>
							<key>Definitions</key>
							<dict>
								<key>___PACKAGENAMEASIDENTIFIER___.cpp</key>
								<dict>
									<key>Beginning</key>
					        <string></string>
					        <key>End</key>
					        <string></string>
									<key>SubstituteMacros</key>
									<true/>
									<key>TargetIndices</key>
									<array>
										<string>0</string>
									</array>
								</dict>
							</dict>
							<key>Nodes</key>
							<array>
								<string>___PACKAGENAMEASIDENTIFIER___.cpp:comments</string>
							</array>
						</dict>
						<dict>
							<key>RequiredOptions</key>
              <dict>
                  <key>isLCIDL</key>
                  <string>true</string>
              </dict>
							<key>Nodes</key>
							<array>
								<string>___PACKAGENAMEASIDENTIFIER___.lcidl:CPP</string>
								<string>___PACKAGENAMEASIDENTIFIER___.cpp:stdbool</string>
								<string>___PACKAGENAMEASIDENTIFIER___.cpp:livecodeapi</string>
								<string>___PACKAGENAMEASIDENTIFIER___.cpp:hooks</string>
							</array>
						</dict>
						<dict>
							<key>RequiredOptions</key>
              <dict>
                  <key>isLCIDL</key>
                  <string>false</string>
              </dict>
							<key>Nodes</key>
							<array>
								<string>___PACKAGENAMEASIDENTIFIER___.cpp:externalv0</string>
							</array>
						</dict>
					</array>
				</dict>
			</dict>
			<dict>
	      <key>Identifier</key>
	      <string>isLCIDL</string>
	      <key>Units</key>
	      <dict>
          <key>true</key>
          <dict>
              <key>Nodes</key>
              <array>
								<string>___PACKAGENAMEASIDENTIFIER___.lcidl:lcidlhooks</string>
							</array>
          </dict>
	      </dict>
	    </dict>
		</array>
	</dict>
</plist>
