<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Identifier</key>
		<string>com.merg.livecode.externals.base</string>
		<key>Kind</key>
		<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
		<key>Definitions</key>
		<dict>
			<key>*:comments</key>
			<string>//
//  ___FILENAME___
//  ___PROJECTNAME___
//
//  Created by ___FULLUSERNAME___ on ___DATE___.
//___COPYRIGHT___
//
			</string>
			<key>___PACKAGENAMEASIDENTIFIER___.lcidl</key>
			<dict>
				<key>Beginning</key>
				<string></string>
				<key>End</key>
				<string></string>
				<key>SubstituteMacros</key>
				<true/>
				<key>TargetIndices</key>
				<array>
					<string>0</string>
				</array>
			</dict>
			<key>___PACKAGENAMEASIDENTIFIER___.lcidl:base</key>
			<string>
external ___VARIABLE_externalIdentifier___
			</string>
			<key>___PACKAGENAMEASIDENTIFIER___.lcidl:lcidlhooks</key>
			<string>
on startup call ___PACKAGENAMEASIDENTIFIER___Startup

on shutdown call ___PACKAGENAMEASIDENTIFIER___Shutdown
			</string>
			<key>___PACKAGENAMEASIDENTIFIER___.livecode</key>
			<dict>
				<key>Path</key>
				<string>___PACKAGENAMEASIDENTIFIER___.livecode</string>
				<key>TargetIndices</key>
				<array/>
			</dict>
	</dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Name</key>
			<string>Project Name</string>
			<key>Description</key>
			<string>The project&apos;s name.</string>
			<key>EmptyReplacement</key>
			<string>ProjectName</string>
			<key>Type</key>
			<string>text</string>
			<key>Required</key>
			<true/>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>organizationName</string>
			<key>Name</key>
			<string>Organization Name:</string>
			<key>Description</key>
			<string>Your company&apos;s name</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>___FULLUSERNAME___</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>externalIdentifier</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>External Identifier:</string>
			<key>Description</key>
			<string>The identfier of your external</string>
			<key>Default</key>
			<string>com.yourcompany.yourexternal</string>
			<key>EmptyReplacement</key>
			<string>com.yourcompany.yourexternal</string>
			<key>Type</key>
			<string>text</string>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>___PACKAGENAMEASIDENTIFIER___.lcidl:comments</string>
		<string>___PACKAGENAMEASIDENTIFIER___.lcidl:base</string>
		<string>___PACKAGENAMEASIDENTIFIER___.livecode</string>
	</array>
	<key>Project</key>
	<dict>
		<key>SharedSettings</key>
		<dict>
			<key>LIVECODE_EXTERNAL_TEMPLATES_DIR</key>
			<string>$(HOME)/livecode-xcode-templates</string>
			<key>LIVECODE_REPO_ROOT</key>
			<string>$(HOME)/livecode</string>
			<key>LIVECODE_TEST_EXTERNAL</key>
			<string>___PACKAGENAMEASIDENTIFIER___</string>
			<key>LIVECODE_TEST_STACK</key>
			<string>$(SRCROOT)/___PACKAGENAME___/___PACKAGENAMEASIDENTIFIER___.livecode</string>
		</dict>
		<key>Configurations</key>
		<dict>
			<key>Debug</key>
			<dict>
				<key>GCC_PREPROCESSOR_DEFINITIONS</key>
				<string>DEBUG</string>
				<key>GCC_OPTIMIZATION_LEVEL</key>
				<string>0</string>
			</dict>
			<key>Release</key>
			<dict/>
		</dict>
	</dict>
</dict>
</plist>
