<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>com.merg.livecode.externals.base</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Definitions</key>
	<dict>
		<key>___PACKAGENAMEASIDENTIFIER___.lcidl</key>
		<dict>
			<key>Path</key>
			<string>___PACKAGENAMEASIDENTIFIER___.lcidl</string>
			<key>TargetIndices</key>
			<array>
				<string>0</string>
			</array>
		</dict>
		<key>___PACKAGENAMEASIDENTIFIER___.mm</key>
		<dict>
			<key>Path</key>
			<string>___PACKAGENAMEASIDENTIFIER___.mm</string>
			<key>TargetIndices</key>
			<array>
				<string>0</string>
			</array>
		</dict>
		<key>___PACKAGENAMEASIDENTIFIER___.livecode</key>
		<dict>
			<key>Path</key>
			<string>___PACKAGENAMEASIDENTIFIER___.livecode</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
	</dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Name</key>
			<string>Project Name</string>
			<key>Description</key>
			<string>The project&apos;s name.</string>
			<key>EmptyReplacement</key>
			<string>ProjectName</string>
			<key>Type</key>
			<string>text</string>
			<key>Required</key>
			<true/>
			<key>NotPersisted</key>
			<true/>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>___PACKAGENAMEASIDENTIFIER___.lcidl</string>
		<string>___PACKAGENAMEASIDENTIFIER___.mm</string>
		<string>___PACKAGENAMEASIDENTIFIER___.livecode</string>
	</array>
	<key>Project</key>
	<dict>
		<key>SharedSettings</key>
		<dict>
			<key>CLANG_CXX_LIBRARY</key>
			<string>libc++</string>
			<key>ENABLE_BITCODE</key>
			<string>NO</string>
			<key>HEADER_SEARCH_PATHS</key>
			<string>"$(LIVECODE_REPO_ROOT)/lcidlc/include"</string>
			<key>LIVECODE_REPO_ROOT</key>
			<string>$(HOME)/livecode</string>
			<key>LIVECODE_TEST_EXTERNAL</key>
			<string>___PACKAGENAMEASIDENTIFIER___</string>
			<key>LIVECODE_TEST_STACK</key>
			<string>$(SRCROOT)/___PACKAGENAME___/___PACKAGENAMEASIDENTIFIER___.livecode</string>
		</dict>
		<key>Configurations</key>
		<dict>
			<key>Debug</key>
			<dict>
				<key>GCC_PREPROCESSOR_DEFINITIONS</key>
				<string>DEBUG</string>
				<key>GCC_OPTIMIZATION_LEVEL</key>
				<string>0</string>
			</dict>
			<key>Release</key>
			<dict/>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>TargetIdentifier</key>
			<string>com.merg.livecode.externals.external</string>
		  <key>Name</key>
			<string>___PACKAGENAMEASIDENTIFIER___</string>
			<key>SharedSettings</key>
			<dict>
				<key>PRODUCT_NAME</key>
				<string>$(TARGET_NAME)</string>
				<key>ALWAYS_SEARCH_USER_PATHS</key>
				<string>NO</string>
		</dict>
			<key>Configurations</key>
			<dict>
				<key>Debug</key>
				<dict/>
				<key>Release</key>
				<dict/>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>ShellPath</key>
					<string>/bin/bash</string>
					<key>ShellScript</key>
					<string>sh &quot;$LIVECODE_REPO_ROOT/lcidlc/lclink.sh&quot;</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
