<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Identifier</key>
		<string>com.merg.livecode.externals.apple-base</string>
		<key>Ancestors</key>
		<array>
			<string>com.merg.livecode.externals.base</string>
		</array>
		<key>Kind</key>
		<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
		<key>Definitions</key>
		<dict>
			<key>*:foundation</key>
			<string>
#import &lt;Foundation/Foundation.h&gt;
			</string>
			<key>*:stdbool</key>
			<string>
#include &lt;stdbool.h&gt;
			</string>
			<key>*:hooks</key>
			<string>
bool ___PACKAGENAMEASIDENTIFIER___Startup(void)
{
return true;
}

void ___PACKAGENAMEASIDENTIFIER___Shutdown(void)
{

}
			</string>
		</dict>
		<key>Options</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>languageChoice</string>
				<key>Required</key>
				<true/>
				<key>Name</key>
				<string>Language:</string>
				<key>Description</key>
				<string>Your primary implementation language.</string>
				<key>Type</key>
				<string>popup</string>
				<key>Default</key>
				<string>Objective-C</string>
				<key>Values</key>
				<array>
					<string>Objective-C</string>
					<string>Objective-C++</string>
					<string>C</string>
					<string>C++</string>
				</array>
				<key>Units</key>
				<dict>
					<key>Objective-C</key>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>___PACKAGENAMEASIDENTIFIER___.m</key>
							<dict>
								<key>Beginning</key>
				        <string></string>
				        <key>End</key>
				        <string></string>
								<key>SubstituteMacros</key>
								<true/>
								<key>TargetIndices</key>
								<array>
									<string>0</string>
								</array>
							</dict>
							<key>___PACKAGENAMEASIDENTIFIER___.lcidl:ObjectiveC</key>
							<string>
use objc-objects
							</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>___PACKAGENAMEASIDENTIFIER___.m:comments</string>
							<string>___PACKAGENAMEASIDENTIFIER___.m:foundation</string>
							<string>___PACKAGENAMEASIDENTIFIER___.m:hooks</string>
							<string>___PACKAGENAMEASIDENTIFIER___.lcidl:ObjectiveC</string>
						</array>
					</dict>
					<key>Objective-C++</key>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>___PACKAGENAMEASIDENTIFIER___.mm</key>
							<dict>
								<key>Beginning</key>
				        <string></string>
				        <key>End</key>
				        <string></string>
								<key>SubstituteMacros</key>
								<true/>
								<key>TargetIndices</key>
								<array>
									<string>0</string>
								</array>
							</dict>
							<key>___PACKAGENAMEASIDENTIFIER___.lcidl:ObjectiveCPP</key>
							<string>
use c++-naming
use objc-objects
							</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>___PACKAGENAMEASIDENTIFIER___.mm:comments</string>
							<string>___PACKAGENAMEASIDENTIFIER___.mm:foundation</string>
							<string>___PACKAGENAMEASIDENTIFIER___.mm:hooks</string>
							<string>___PACKAGENAMEASIDENTIFIER___.lcidl:ObjectiveCPP</string>
						</array>
					</dict>
					<key>C</key>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>___PACKAGENAMEASIDENTIFIER___.c</key>
							<dict>
								<key>Beginning</key>
				        <string></string>
				        <key>End</key>
				        <string></string>
								<key>SubstituteMacros</key>
								<true/>
								<key>TargetIndices</key>
								<array>
									<string>0</string>
								</array>
							</dict>
						</dict>
						<key>Nodes</key>
						<array>
							<string>___PACKAGENAMEASIDENTIFIER___.c:comments</string>
							<string>___PACKAGENAMEASIDENTIFIER___.c:stdbool</string>
							<string>___PACKAGENAMEASIDENTIFIER___.c:hooks</string>
						</array>
					</dict>
					<key>C++</key>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>___PACKAGENAMEASIDENTIFIER___.cpp</key>
							<dict>
								<key>Beginning</key>
				        <string></string>
				        <key>End</key>
				        <string></string>
								<key>SubstituteMacros</key>
								<true/>
								<key>TargetIndices</key>
								<array>
									<string>0</string>
								</array>
							</dict>
							<key>___PACKAGENAMEASIDENTIFIER___.lcidl:CPP</key>
							<string>
use c++-naming
							</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>___PACKAGENAMEASIDENTIFIER___.lcidl:CPP</string>
							<string>___PACKAGENAMEASIDENTIFIER___.cpp:comments</string>
							<string>___PACKAGENAMEASIDENTIFIER___.cpp:hooks</string>
						</array>
					</dict>
				</dict>
			</dict>
		</array>
		<key>Nodes</key>
		<array>
			<string>___PACKAGENAMEASIDENTIFIER___.lcidl:lcidlhooks</string>
		</array>
		<key>Project</key>
		<dict>
			<key>SharedSettings</key>
			<dict>
				<key>CLANG_CXX_LIBRARY</key>
				<string>libc++</string>
				<key>ENABLE_BITCODE</key>
				<string>NO</string>
				<key>HEADER_SEARCH_PATHS</key>
				<string>"$(LIVECODE_REPO_ROOT)/lcidlc/include"</string>
			</dict>
			<key>Configurations</key>
			<dict>
				<key>Debug</key>
				<dict>
					<key>GCC_PREPROCESSOR_DEFINITIONS</key>
					<string>DEBUG</string>
					<key>GCC_OPTIMIZATION_LEVEL</key>
					<string>0</string>
				</dict>
				<key>Release</key>
				<dict/>
			</dict>
		</dict>
		<key>Targets</key>
		<array>
			<dict>
				<key>TargetIdentifier</key>
				<string>com.merg.livecode.externals.external</string>
				<key>Name</key>
				<string>___PACKAGENAMEASIDENTIFIER___</string>
				<key>SharedSettings</key>
				<dict>
					<key>PRODUCT_NAME</key>
					<string>$(TARGET_NAME)</string>
					<key>ALWAYS_SEARCH_USER_PATHS</key>
					<string>NO</string>
				</dict>
				<key>Configurations</key>
				<dict>
					<key>Debug</key>
					<dict/>
					<key>Release</key>
					<dict/>
				</dict>
				<key>BuildPhases</key>
				<array>
					<dict>
						<key>Class</key>
						<string>Sources</string>
					</dict>
					<dict>
						<key>Class</key>
						<string>Frameworks</string>
					</dict>
					<dict>
						<key>Class</key>
						<string>ShellScript</string>
						<key>ShellPath</key>
						<string>/bin/bash</string>
						<key>ShellScript</key>
						<string>sh &quot;$LIVECODE_REPO_ROOT/lcidlc/lclink.sh&quot;</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</plist>
