<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>com.merg.livecode.externals.android</string>
	<key>Ancestors</key>
	<array>
		<string>com.merg.livecode.externals.chooselanguage</string>
	</array>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template is the starting point for a LiveCode external for Android.</string>
	<key>Definitions</key>
	<dict>
		<key>___PACKAGENAMEASIDENTIFIER___.java</key>
		<dict>
			<key>Beginning</key>
			<string></string>
			<key>End</key>
			<string></string>
			<key>SubstituteMacros</key>
			<true/>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>___PACKAGENAMEASIDENTIFIER___.java:package</key>
		<string>
package ___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___PACKAGENAMEASIDENTIFIER___;
		</string>
		<key>___PACKAGENAMEASIDENTIFIER___.java:class</key>
		<string>
public class ___PACKAGENAMEASIDENTIFIER___ {

  private static final String TAG = ___PACKAGENAMEASIDENTIFIER___.class.getSimpleName();

}
		</string>
		<key>___PACKAGENAMEASIDENTIFIER___.lcidl:java</key>
		<string>
use java on android
use none on ios, mac, windows, linux
		</string>
	</dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Values</key>
			<array>
				<string>Java</string>
				<string>C</string>
				<string>C++</string>
			</array>
			<key>Default</key>
			<string>Java</string>
			<key>Units</key>
			<dict>
				<key>C</key>
				<array>
					<dict>
						<key>RequiredOptions</key>
						<dict>
								<key>isLCIDL</key>
								<string>true</string>
						</dict>
						<key>Project</key>
						<dict>
							<key>SharedSettings</key>
							<dict>
								<key>ANDROID_SOURCES</key>
								<string>"$(SRCROOT)/___PACKAGENAMEASIDENTIFIER___/___PACKAGENAMEASIDENTIFIER___.c"</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
								<key>isLCIDL</key>
								<string>false</string>
						</dict>
						<key>Project</key>
						<dict>
							<key>SharedSettings</key>
							<dict>
								<key>ANDROID_SOURCES</key>
								<string>"$(SRCROOT)/___PACKAGENAMEASIDENTIFIER___/___PACKAGENAMEASIDENTIFIER___.c" "$(SRCROOT)/___PACKAGENAMEASIDENTIFIER___/external.c"</string>
							</dict>
						</dict>
					</dict>
				</array>
				<key>C++</key>
				<array>
					<dict>
						<key>RequiredOptions</key>
						<dict>
								<key>isLCIDL</key>
								<string>true</string>
						</dict>
						<key>Project</key>
						<dict>
							<key>SharedSettings</key>
							<dict>
								<key>ANDROID_SOURCES</key>
								<string>"$(SRCROOT)/___PACKAGENAMEASIDENTIFIER___/___PACKAGENAMEASIDENTIFIER___.cpp"</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
								<key>isLCIDL</key>
								<string>false</string>
						</dict>
						<key>Project</key>
						<dict>
							<key>SharedSettings</key>
							<dict>
								<key>ANDROID_SOURCES</key>
								<string>"$(SRCROOT)/___PACKAGENAMEASIDENTIFIER___/___PACKAGENAMEASIDENTIFIER___.cpp" "$(SRCROOT)/___PACKAGENAMEASIDENTIFIER___/external.c"</string>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
    </dict>
	</array>
	<key>Project</key>
	<dict>
		<key>SharedSettings</key>
		<dict>
			<key>ANDROID_TOOLCHAIN</key>
			<string>$(HOME)/android/toolchain</string>
			<key>ANDROID_SDK_ROOT</key>
			<string>$(ANDROID_TOOLCHAIN)/android-sdk</string>
			<key>ANDROID_NDK_ROOT</key>
			<string>$(ANDROID_TOOLCHAIN)/android-ndk</string>
			<key>ANDROID_EXTERNAL_BUILD_SCRIPT</key>
			<string>$(LIVECODE_EXTERNAL_TEMPLATES_DIR)/Android/build-android-external.sh</string>
			<key>NDK_APPLICATION_MK</key>
			<string>$(LIVECODE_EXTERNAL_TEMPLATES_DIR)/Android/Application.mk</string>
			<key>APP_BUILD_SCRIPT</key>
			<string>$(LIVECODE_EXTERNAL_TEMPLATES_DIR)/Android/Android.mk</string>
			<key>ANDROID_TARGET_PLATFORM</key>
			<string>android-8</string>
		</dict>
		<key>Configurations</key>
		<dict>
			<key>Debug</key>
			<dict>
				<key>GCC_PREPROCESSOR_DEFINITIONS</key>
				<string>DEBUG</string>
				<key>GCC_OPTIMIZATION_LEVEL</key>
				<string>0</string>
			</dict>
			<key>Release</key>
			<dict/>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>TargetType</key>
			<string>Aggregate</string>
			<key>TargetIdentifier</key>
			<string>com.merg.livecode.externals.android</string>
		  <key>Name</key>
			<string>___PACKAGENAMEASIDENTIFIER___-Android</string>
			<key>SharedSettings</key>
			<dict>
				<key>ALWAYS_SEARCH_USER_PATHS</key>
				<string>NO</string>
		</dict>
			<key>Configurations</key>
			<dict>
				<key>Debug</key>
				<dict/>
				<key>Release</key>
				<dict/>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>ShellPath</key>
					<string>/bin/bash</string>
					<key>ShellScript</key>
					<string>sh &quot;$ANDROID_EXTERNAL_BUILD_SCRIPT&quot;</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
