<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>com.merg.livecode.externals.osx</string>
	<key>Ancestors</key>
	<array>
		<string>com.merg.livecode.externals.objectivec</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template is the starting point for a LiveCode external for OS X.</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.macosx</string>
	</array>
	<key>Project</key>
	<dict>
		<key>SDK</key>
		<string>macosx</string>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>TargetIdentifier</key>
			<string>com.merg.livecode.externals.external</string>
			<key>Name</key>
			<string>___PACKAGENAMEASIDENTIFIER___-OSX</string>
			<key>ProductType</key>
			<string>com.apple.product-type.bundle</string>
		</dict>
	</array>
</dict>
</plist>
